.svg-arroba-dims {
	width: 33px;
	height: 34px;
}

.svg-arrow-down-dims {
	width: 11px;
	height: 7px;
}

.svg-arrow-down-red-dims {
	width: 11px;
	height: 6px;
}

.svg-arrow-right-green-dims {
	width: 8px;
	height: 13px;
}

.svg-arrow-slide-left-dims {
	width: 33px;
	height: 33px;
}

.svg-arrow-slide-right-dims {
	width: 33px;
	height: 33px;
}

.svg-big-icon-card-dims {
	width: 75px;
	height: 75px;
}

.svg-big-icon-flag-dims {
	width: 72px;
	height: 71px;
}

.svg-big-icon-gamble-dims {
	width: 77px;
	height: 75px;
}

.svg-cards-dims {
	width: 40px;
	height: 40px;
}

.svg-category-icon-casinolive-dims {
	width: 19px;
	height: 17px;
}

.svg-category-icon-favorites-dims {
	width: 24px;
	height: 21px;
}

.svg-category-icon-lastplayed-dims {
	width: 20px;
	height: 20px;
}

.svg-category-icon-newgames-dims {
	width: 27px;
	height: 27px;
}

.svg-category-icon-popular-dims {
	width: 22px;
	height: 20px;
}

.svg-category-icon-slots-dims {
	width: 28px;
	height: 20px;
}

.svg-category-icon-tablegames-dims {
	width: 19px;
	height: 19px;
}

.svg-eye-closed-dims {
	width: 18px;
	height: 12px;
}

.svg-eye-open-dims {
	width: 18px;
	height: 19px;
}

.svg-facebook-dims {
	width: 33px;
	height: 34px;
}

.svg-flag-icon-america-dims {
	width: 25px;
	height: 25px;
}

.svg-google-plus-dims {
	width: 33px;
	height: 34px;
}

.svg-icon18-dims {
	width: 54px;
	height: 55px;
}

.svg-log-dims {
	width: 11px;
	height: 13px;
}

.svg-message-dims {
	width: 29px;
	height: 28px;
}

.svg-odnoklassniki-logo-dims {
	width: 34px;
	height: 34px;
}

.svg-pay-icon-cubits-dims {
	width: 156px;
	height: 41px;
}

.svg-pay-icon-mastercard-dims {
	width: 53px;
	height: 42px;
}

.svg-pay-icon-neteller-dims {
	width: 164px;
	height: 29px;
}

.svg-pay-icon-qiwi-dims {
	width: 81px;
	height: 37px;
}

.svg-pay-icon-skrill-dims {
	width: 85px;
	height: 30px;
}

.svg-pay-icon-visa-dims {
	width: 103px;
	height: 34px;
}

.svg-pay-icon-yandex-dims {
	width: 134px;
	height: 31px;
}

.svg-search-dims {
	width: 20px;
	height: 21px;
}

.svg-sponsor-icon-bet365-dims {
	width: 82px;
	height: 18px;
}

.svg-sponsor-icon-evolutiongaming-dims {
	width: 129px;
	height: 14px;
}

.svg-sponsor-icon-microgaming-dims {
	width: 77px;
	height: 17px;
}

.svg-sponsor-icon-pariplay-dims {
	width: 91px;
	height: 22px;
}

.svg-sponsor-icon-playson-dims {
	width: 91px;
	height: 18px;
}

.svg-sponsor-icon-pragmatic-dims {
	width: 92px;
	height: 36px;
}

.svg-sponsor-icon-spotoption-dims {
	width: 92px;
	height: 22px;
}

.svg-sponsor-icon-vivo-dims {
	width: 91px;
	height: 44px;
}

.svg-sponsor-icon-yggdrasil-dims {
	width: 91px;
	height: 18px;
}

.svg-vk-dims {
	width: 35px;
	height: 35px;
}

